<!DOCTYPE HTML>
<meta charset="utf-8">

<head>
  <title>static</title>
  <link rel="apple-touch-icon-precomposed" href="../../assets/favicon/apple-touch-icon-precomposed.png">
  <link rel="icon" href="../../assets/favicon/favicon.png">
  <link rel="stylesheet" href="../beatBlade/style.css">
</head>

<body>

<main class="main">
    <div class="beadBlade">
        <!-- ( size * 150px ) / 2 -->
        <!-- 2x2 -->
        <div class="beadBlade__img beadBlade__img-hidden" data-element="goblin">
            <img src="./goblin.png" alt="goblin" class="beadBlade__goblin">
        </div>
        <div class="beadBlade__cells">
            <div class="beadBlade__cell" data-element="1">
            </div>
            <div class="beadBlade__cell" data-element="2"></div>
            <div class="beadBlade__cell" data-element="3"></div>
            <div class="beadBlade__cell" data-element="4"></div>
        </div>
    </div>
</main>
</body>
